# Distribution / packaging
# .Python
# env/
# build/
# develop-eggs/
# dist/
# downloads/
# eggs/
# .eggs/
# lib/
# lib64/
# parts/
# sdist/
# var/
# *.egg-info/
# .installed.cfg
# *.egg
__pycache__/
node_modules/
package-lock.json
*.lock

# Serverless directories
.serverless
serverless_sdk/

## Not Ignored
# !functions/**/node_modules/
